.mainUserSpots {
  position: relative;
  width: fit-content;
  min-width: 100%;
}

.mainTable {
  display: table;
  width: calc(100% - 24px);
  margin-left: 12px;
  margin-right: 12px;
  min-width: 100%;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
}

.spots-cards{
  overflow-x: scroll;
}

.pageTitle{
  margin-top: 4%;
}

.tableHead {

  vertical-align: middle;
}

.tableHeadRow {
  /* display: table-row-group; */
  border-bottom: 1px solid rgb(235, 235, 235);
}

.thStatus, .thBedrooms, .thBeds, .thBaths, .thLocation, .thEdit, .thDelete {
  text-align: center;
  font-size: 12px;
  background: rgb(255, 255, 255);
  color: rgb(113, 113, 113);
  position: sticky;
  white-space: nowrap;
  padding: 16px 8px;
  top: 0px;
  line-height: 16px;
}

.thListing {
  min-width: 250px;
  text-align: left;
  font-size: 12px;
  background: rgb(255, 255, 255);
  color: rgb(113, 113, 113);
  position: sticky;
  white-space: nowrap;
  padding: 16px 8px;
  top: 0px;
  line-height: 16px;
}

.thEdit, .thDelete, .thLocation {
  min-width: 200px;
}

.thStatus{
  min-width: 180px
}

.thBedrooms {
  min-width: 120px
}

.thBaths{
  min-width: 115px;
}

.thBeds {
  min-width: 95px
}

.tableBody {
  /* display: table-row-group; */
  vertical-align: middle;
  border-collapse: collapse;
}

.tableBodyRow {
  display: table-row;
  border-top: 1px solid rgb(235, 235, 235);
}

.tableBodyRow:first-child {
  border-top: none;
}

.tableBodyRow:last-child {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.spotName {
  min-width: 3px;
  padding: 16px 8px;
  text-align: left;

}

.spotStatus, .editButtons, .deleteButtons {
  min-width: 200px;
  padding: 16px 8px;
  text-align: center;

}

.spotLocation {
  min-width: 205px;
  padding: 16px 8px;
  text-align: center;

}

.spotBedroom, .spotBed, .spotBath{
  min-width: 100px;
  padding: 16px 8px;
  text-align: center;
}

.actualEdit {
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  border: none;
  background: transparent;
  color: rgb(35, 35, 35);
  text-decoration: underline;
}
